body {
  font-family: "Droid Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}
.navbar {
  padding: 20px;
}
.banner-akuantri {
  background-image: url("../image/home.jpg");
  height: 100vh;
}
.banner-akuantri .container {
  padding: 200px;
}
.banner-akuantri .container .row {
  padding-top: 114px;
}
.banner-akuantri .container .row .col {
  text-align: center;
}
.banner-akuantri .container .row .col h1 {
  font-size: 60px;
  color: white;
  font-weight: bold;
}
.banner-akuantri .container .row .col p {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 60px;
}
.banner-akuantri .container .row .col a img.gplay {
  width: 210px;
}
.banner-akuantri .container .row .col a img.button1 {
  width: 210px;
}
.feature-akuantri {
  padding: 100px 0;
}
.feature-akuantri .container .row .col .feature-title {
  margin-bottom: 50px;
}
.feature-akuantri .container .row .col .feature-title h3 {
  font-size: 40px;
  font-weight: bold;
}
.feature-akuantri .container .row .col .feature-title p {
  font-size: 20px;
  color: #777;
}
.feature-akuantri .container .row .col .feature-content {
  margin: 0 0 40px 0;
}
.feature-akuantri .container .row .col .feature-content span {
  float: left;
  height: 80px;
  margin: 0 10px 0 0;
}
.feature-akuantri .container .row .col .feature-content span i.fas {
  font-size: 40px;
  color: #00b906;
}
.feature-akuantri .container .row .col .feature-content p.content-title {
  font-size: 18px;
  color: #1a1a1a;
  margin-bottom: 10px;
  margin-left: 74px;
}
.feature-akuantri .container .row .col .feature-content p.content-desc {
  font-family: "Droid Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  margin-left: 74px;
}
.faq {
  padding: 100px 0;
}
.faq .container {
  text-align: center;
}
.faq .container .row .col-12 .header {
  margin-bottom: 80px;
}
.faq .container .row .col-12 .header h2 {
  font-weight: bold;
  margin-bottom: 40px;
}
.faq .container .row .col-12 .header p {
  line-height: 1.7;
}
.testimonial {
  padding: 100px 0;
}
.testimonial .container .row .col-12 {
  text-align: center;
  margin-bottom: 80px;
}
.testimonial .container .row .col-12 .header h2 {
  font-weight: bold;
  padding-bottom: 20px;
}
.testimonial .container .row .col-12 .header p {
  font-weight: 500;
}
.product {
  padding: 100px 0;
  background: #efefef;
  color: #777;
}
.product .container {
  text-align: center;
}
.product .container .row .col .card-deck .card .card-body .card-title {
  font-weight: bold;
  padding-bottom: 20px;
}
.product .container .row .col .card-deck .card .card-body .card-text {
  line-height: 1.7;
  color: #777;
}
.footer {
  padding: 112px 0;
}
.footer .container .row .col-sm-4 h5 {
  font-weight: bold;
}
.footer .container .row .test {
  padding: 20px;
}
.footer .container .row .col-sm-4 {
  font-weight: bold;
}
.footer .container .row .col-sm-4.link-footer {
  list-style: none;
}
.footer .container .row .col-sm-4 a .gplay {
  width: 210px;
}
